.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    h2 {
        a {
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & li {
            margin-right: 2rem;
            color: $text-secondary;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0;
            }
            & a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}