// Colors
$primary: #005EA5;
$text-main: #0B0C0C;
$text-secondary: #757575;
$border: #BFC1C3;
// Typography
$fs-body: 1.7rem;
$lh-body: 2.2rem;
$fw-bold: 700;
$fw-regular: 400;
// Animations
$transition: all .3s cubic-bezier(.01, .11, .24, 1.13);