<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="title-2">PC</h3>
                <ul>
                    <li><a href="content/pc/">Новости</a></li>
                    <li><a href="content/pc/">Релизы</a></li>
                    <li><a href="content/pc/">Обзоры</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="title-2">PS4</h3>
                <ul>
                    <li><a href="content/ps4/">Новости</a></li>
                    <li><a href="content/ps4/">Релизы</a></li>
                    <li><a href="content/ps4/">Обзоры</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="title-2">Индустрия</h3>
                <ul>
                    <li><a href="content/companies/">Новости</a></li>
                    <li><a href="content/companies/">Люди</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="title-2">О сайте</h3>
                <ul>
                    <li><a href="about.html">О проекте</a></li>
                    <li><a href="donate.html">Донат</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</main>
<script src="js/scripts.min.js"></script>
</body>

</html>