<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <h4 class="logo-90deg">gamesisgood.com</h4>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li>links</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li>links</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li>links</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li>links</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li>sharing</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</main>
<script src="js/scripts.min.js"></script>
</body>

</html>