<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Games — <span>is good for everybody<span></h1>
            </div>
            <div class="col-xs-12">
                <ul class="main-navigation title-2">
                    <li><a href="#">All</a></li>
                    <li><a href="#">PS</a></li>
                    <li><a href="#">PS4</a></li>
                    <li><a href="#">Companies</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>