<div class="col-xs-12">
    <article class="news">
        <div class="news-wrapper">
            <a href="{{ post.url }}" class="news-link">
                <img src="{{ post.thumb }}" class="news-image" />
                <div class="news-content">
                    <div class="news-info callout"><span class="news-category">{{ post.catname }}</span>
                        <date>September 28, 2019</date>
                    </div>
                    <h3 class="title-1">{{ post.title }}</h3>
                    <div class="news-info subhead"><span>999 comments</span>
                        <div class="sharing">Share</div>
                    </div>
                </div>
            </a>
        </div>
    </article>
</div>