{% include /header-category.html %}
{% include /header.html %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 center-xs">
            <h1 class="large-title">{{page.title}}</h1>
            <p>{{page.description}}</p>
        </div>
    </div>

    <div class="row">
{% if paginator.posts == null %} 
{% include /no-content.html %} 
{% else %} 
{% for post in paginator.posts %} 
{% include /home-pc-news-item.html %} 
{% endfor %} 
{% endif %}
    </div>

    <div class="row center-xs">
            <div class="col-xs-12">
                {% if paginator.total_pages > 1 %} {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" >Следующая страница ></a> {% endif %} {% endif %}
            </div>
        </div>

    <div class="row">
        <div class="col-xs-12">

            {% if paginator.page_trail %}
            <div class="pagination">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" >
                    <</a> {% else %} <span></span> {% endif %}
                        <ul>
                            {% for trail in paginator.page_trail %} {% if page.url == trail.path %}
                            <li class="active">{{ trail.num }}</li>
                            {% else %}
                            <li><a href="{{ trail.path | remove: 'index.html' }}" title="{{ trail.title }}" clas="btn">{{trail.num}}</a></li>
                            {% endif %} {% endfor %}
                        </ul>
                        {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" >></a> {% else %}
                        <span></span> {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% include /footer.html %}